body{
  position: relative;
}

img{
  width: 30%;
}
p{
  font-size: 2em;
}


@mixin background-image {
  background-image: url("/background.png");
}

$dark-color: #111;
$light-color: #FFC425;

body.dark-mode {
  @include background-image;
  color: $light-color;
  a {
    color: $dark-color;
  }
  button {
    background-color: $light-color;
    color: $dark-color;
  }
  .gif {
    display: initial;
  }
  .video{
    display: initial;
  }
  h1{
    font-size: 4em ;
    background: -webkit-linear-gradient(#1cb208,#9f3121);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .polig{
    position: absolute;
    width:120px;
    height:100px;
    top: 180px;
    left: 350px;
  }
}

body.light-mode {
  background-color: $light-color;
  color: $dark-color;
  a {
    color: $dark-color;
  }
  button {
    background-color: $dark-color;
    color: $light-color;
  }
  .gif {
    display: none;
  }
  .video{
    display: none;
  }
  .polig{
    display: none;
  }
  h1{
    font-size: 4em ;
    background: -webkit-linear-gradient(#f70fff, #12d6df);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

button{
  font-size: 1em;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  right: 150px;

}
